@import "utils";

.comment {
}
.comment-button {
  margin-top: 2em;
  margin-bottom: 2rem;
  padding: 0;
  background: none;
  border: none;
  color: $logo-color;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  background-color: none;
  outline: none;
  text-decoration:underline;

  &:hover {
    color: $light-color
  }
}

.comment-form>textarea {
box-sizing: border-box;
min-height: 10rem;
width: 100%;
padding: 2rem;
font-size: 1.8rem;
text-align: left;
color: #474747;
margin: 0 3.5rem;
border: 2px solid #dedede;
max-width: calc(100% - 2 * 3.5rem);
border-radius: .3rem;
overflow: auto;

background-color: white;
-webkit-rtl-ordering: logical;
user-select: text;
flex-direction: column;
resize: auto;
cursor: auto;
white-space: pre-wrap;
word-wrap: break-word;

text-rendering: auto;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
-webkit-writing-mode: horizontal-tb;
position: relative;
// display: none;

}