@import "utils";

.question-form {
  box-sizing: border-box;
  border-radius: .3rem;
  padding: 0 0 3.2rem;
  max-width: 52rem;
  border: none;
  display: block;
  margin: auto;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: left;
  color: #fff;
}
.question-card {
  margin: 1.5rem 0 0;
  border-radius: .3rem;
  background: #fff;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
}

.question {
  color: #757575;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
  text-align: left;
  display: flex;
  padding: 3rem 3rem 0;
  display: flex;
  &.extra {
    color: white;
    padding: 2.4rem 4.6rem 0 3.5rem;
    color: #fff;;
    display: inline-block;
    float: left;
  }
}

.extra {
  margin: 1.5rem 0 0;
  border-radius: .3rem;
  background: $background-color;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
}
.extra-note {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: content-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.9rem;
  flex: 0 0 8.9rem;
  height: 8.9rem;
  width: 8.9rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: $dark-color;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  word-spacing: 8.9rem;
  float: right;
}
.extra-input {
  box-sizing: border-box;
  min-height: 10rem;
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  text-align: left;
  color: #474747;
  margin: 0 3.5rem;
  border: 2px solid #166e78;
  max-width: calc(100% - 2 * 3.5rem);
  border-radius: .3rem;
  overflow: auto;

  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  -webkit-writing-mode: horizontal-tb;
  position: relative;
}

.submit-button {
  margin-top: 2em;
  min-width: 20rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: .3rem;
  line-height: 2.4rem;
  padding: 1.7rem 1.8rem 1.7rem 2.2rem;
  color: #fff;
  background: #2ce6ce;
  border: 1px solid #2ce6ce;
  text-decoration: none;
  display: inline-block;
  &:disabled {
    color: rgb(176, 205, 195);
    background: #757575;
    border: none;
  }
}















